.root {
  justify-content: space-between;

  /*
   * This should overlay any other navbars.
   *
   * Bulma navbars have a z-index of 30.
   */
  z-index: 31 !important;
}

.tag {
  display: none !important;
  text-decoration: none !important;

  @media screen and (min-width: 1024px) {
    display: inline-flex !important;
  }
}

.logo {
  display: none;

  @media screen and (min-width: 1024px) {
    display: unset;
  }
}

/* CSS hacks to override Bulma’s media queries */
.dropdowns {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.dropdown > button {
  align-items: center;
  display: flex;

  &::after {
    border-color: hsl(0deg 0% 100%) !important;
  }
}

.dropdown > div {
  background-color: hsl(0deg 0% 100%);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bord